<style>
  td{
    padding: 5px 15px;
  }
</style>
<div class="card red accent-1">
  <div class="card-image">
    <img src="app/static/images/article_bg.jpg">
  </div>
  <div class="card-content">
    <table>
      <tr>
        <td><h5><i class="fa fa-user-circle"></i></h5></td>
        <td><h5>简介</h5>
        </td>
      </tr>
      <tr>
        <td></td>
        <td> <p>一个做事踏实勤奋，有始有终，对编程感兴趣，自学能力强，喜欢尝试新技术的人。
          也是一个喜欢音乐、摄影、崇尚极简主义的人。</p></td>
      </tr>
      <br>
      <tr>
        <td><h5><i class="fa fa-paper-plane"></i></h5></td>
        <td><h5>兴趣爱好</h5></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span class="margin-right20 left">
          <h5><i class="fa fa-book"></i> </h5>
          </span>
          <span class="margin-right20 left">
          <h5><i class="fa fa-bicycle"></i> </h5>
          </span>
          <span class="margin-right20 left">
          <h5><i class="fa fa-music"></i> </h5>
          </span>
          <span class="margin-right20 left">
          <h5><i class="fa fa-camera"></i> </h5>
          </span>
        </td>
      </tr>
      <br>
      <tr>
        <td><h5><i class="fa fa-id-badge"></i></h5></td>
        <td><h5>证书情况</h5></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <p>CET四级证书</p><br>
          <p>全国计算机等级二级C++证书</p>
        </td>
      </tr>
      <br>
      <tr>
        <td><h5><i class="fa fa-phone"></i></h5></td>
        <td><h5>联系方式</h5></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <p>183-2838-8471</p><br>
          <p>luohuan0717@163.com</p>
        </td>
      </tr>
    </table>
  </div>
</div>
