<div class="card red accent-1">
  <div class="card-image">
    <img src="app/static/images/article_bg.jpg">
    <span class="card-title">Mr.luo</span>
  </div>
  <div class="card-content">
    <table>
      <tr>
        <td><h4><i class="fa fa-user-circle"></i></h4></td>
        <td><h4>profile detail</h4></td>
      </tr>
      <tr>
        <td></td>
        <td><p>balabala</p></td>
      </tr>
      <tr>
        <td><h4><i class="fa fa-id-badge"></i></h4></td>
        <td><h4>Certificate</h4></td>
      </tr>
      <tr>
        <td></td>
        <td><span>one&two</span></td>
      </tr>
      <tr>
        <td><h4><i class="fa fa-paper-plane"></i></h4></td>
        <td><h4>Interesting</h4></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <span class="margin-right20">
          <h5><i class="fa fa-book"></i> </h5>
          </span>
          <span class="margin-right20">
          <h5><i class="fa fa-bicycle"></i> </h5>
          </span>
          <span class="margin-right20">
          <h5><i class="fa fa-music"></i> </h5>
          </span>
          <span class="margin-right20">
          <h5><i class="fa fa-camera"></i> </h5>
          </span>
        </td>
      </tr>
      <tr>
        <td><h4><i class="fa fa-phone"></i></h4></td>
        <td><h4>Certificate</h4></td>
      </tr>
      <tr>
        <td></td>
        <td><span>one&two</span></td>
      </tr>
    </table>
  </div>
</div>
