<div class="card-panel">
  <div><h2><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp;Experience</h2></div>
  <hr class="divider">
  <div>
    <div><h4><i class="material-icons"> </i>&nbsp;2017.5-2018.9</h4>&nbsp;Company</div>
    <div><p>balabala</p></div>
  </div>
  <div class="margin-top20"><h2><i class="fa fa-gavel"></i>&nbsp;&nbsp;&nbsp;Experience</h2></div>
  <hr class="divider">
  <ul class="listNoneStyle">
    <li>
      <div class="left">sass&nbsp;</div>
      <div class="left">
        <div class="progress">
          <div class="determinate" style="width: 70%"></div>
        </div>
      </div>
    </li>
  </ul>

</div>
