<style>
  .title{
    background-color: black;color: white;padding: 8px 20px;letter-spacing: 5px;
  }
</style>
<div class="card-panel">
  <h4 class="bold">罗欢</h4>
  <h6>JAVA开发工程师&nbsp;·&nbsp;2年&nbsp;&nbsp;<i class="fa fa-jpy"></i>&nbsp;8-15K</h6><br>
  <div><h5><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp;<span class="title">教育背景</span></h5></div>
  <hr class="divider">
  <div>
    <div><h6 class="bold"><i class="material-icons"> </i>&nbsp;2011.09-2015.07</h6></div>
    <div>
      <p>成都理工大学工程技术学院</p>
      <p>计算机科学与技术·本科</p>
      <h6 class="bold">获奖经历</h6>
      <p>2011年在“青春风采”活动中荣获最佳表现奖</p>
      <p>2012年荣获“示范专业优秀学生”</p>
      <p>2013年荣获学院“第一届创新杯计算机应用设计大赛”第二名</p>
      <br>
    </div>
  </div>

  <div><h5><i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;<span class="title">工作经历</span></h5></div>
  <hr class="divider">
  <div>
    <div><h6 class="bold"><i class="material-icons"> </i>&nbsp;2014.11-2015.06&nbsp;&nbsp;成都英孚凯尔信息技术有限公司</h6></div>
    <div>
      <p>主要从事易维帮助台客服模块的开发，负责编写springMvc中的相关service,controller和接口。
      然后用angularjs在前端呈现数据。</p>
    </div>

    <div><h6 class="bold"><i class="material-icons"> </i>&nbsp;2015.06-2015.11&nbsp;&nbsp;亚信科技（成都）有限公司</h6></div>
    <div>
      <p>主要工作内容是大数据dacp平台的安装部署实施，根据现场需求对平台功能进行定制开发和已有功能的bug修改。</p>
    </div>

    <div><h6 class="bold"><i class="material-icons"> </i>&nbsp;2015.11-2017.02&nbsp;&nbsp;成都简途旅行社有限公司</h6></div>
    <div>
      <p>主要从事公司的核心系统及用户系统的后台管理平台开发，独立完成平台的相关模块功能，如资源目的地的增删改查，订单的复杂查询，图片上传，系统选座、权限管理等模块。
      后端主要使用springMvc,spring data框架，前端则使用thymeleaf模板引擎结合angularjs和jquery渲染数据。</p>
      <br>
    </div>

  </div>

  <div class="margin-top20"><h5><i class="fa fa-gavel"></i>&nbsp;&nbsp;&nbsp;<span class="title">职业技能</span></h5></div>
  <hr class="divider">
  <br>
  <div class="row">
    <div class="col s12 m5">
      <table style="font-size: 1.7em">
        <tr>
          <td class="col s4">springMvc</td>
          <td class="col s7">
            <div class="progress red lighten-5" style="height: 8px;">
              <div class="determinate red" style="width: 85%"></div>
            </div>
          </td>
          <td class="col s1">85%</td>
        </tr>

        <tr>
          <td class="col s4">jpa/hibernate</td>
          <td class="col s7">
            <div class="progress red lighten-5" style="height: 8px;">
              <div class="determinate red" style="width: 85%"></div>
            </div>
          </td>
          <td class="col s1">85%</td>
        </tr>

        <tr>
          <td class="col s4">tomcat</td>
          <td class="col s7">
            <div class="progress red lighten-5" style="height: 8px;">
              <div class="determinate red" style="width: 80%"></div>
            </div>
          </td>
          <td class="col s1">80%</td>
        </tr>

        <tr>
          <td class="col s4">mysql</td>
          <td class="col s7">
            <div class="progress red lighten-5" style="height: 8px;">
              <div class="determinate red" style="width: 85%"></div>
            </div>
          </td>
          <td class="col s1">85%</td>
        </tr>

        <tr>
          <td class="col s4">redis/linux</td>
          <td class="col s7">
            <div class="progress red lighten-5" style="height: 8px;">
              <div class="determinate red" style="width: 50%"></div>
            </div>
          </td>
          <td class="col s1">50%</td>
        </tr>
      </table>
    </div>

    <div class="col s12 m6 offset-m1">
      <table style="font-size: 1.7em">
        <tr>
          <td class="col s4">js/jquery</td>
          <td class="col s7">
            <div class="progress red lighten-5" style="height: 8px;">
              <div class="determinate red" style="width: 90%"></div>
            </div>
          </td>
          <td class="col s1">90%</td>
        </tr>

        <tr>
          <td class="col s4">css/bootstrap</td>
          <td class="col s7">
            <div class="progress red lighten-5" style="height: 8px;">
              <div class="determinate red" style="width: 90%"></div>
            </div>
          </td>
          <td class="col s1">90%</td>
        </tr>

        <tr>
          <td class="col s4">angular/angular2</td>
          <td class="col s7">
            <div class="progress red lighten-5" style="height: 8px;">
              <div class="determinate red" style="width: 85%"></div>
            </div>
          </td>
          <td class="col s1">85%</td>
        </tr>

        <tr>
          <td class="col s4">typescript/ionic2</td>
          <td class="col s7">
            <div class="progress red lighten-5" style="height: 8px;">
              <div class="determinate red" style="width: 80%"></div>
            </div>
          </td>
          <td class="col s1">80%</td>
        </tr>

      </table>
    </div>
  </div>

</div>
