<nav>
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-nav" class="button-collapse" #buttonCollapse><i class="material-icons">menu</i></a>
    <ul class="right hide-on-small-and-down margin-right20">
      <li>
        <a href="" routerLink="resume">简历</a>
      </li>
      <li>
        <a href="" routerLink="production">作品</a>
      </li>
      <li>
        <a href="" routerLink="message">留言</a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-nav">
      <li>
        <a href="" routerLink="resume">简历</a>
      </li>
      <li>
        <a href="" routerLink="production">作品</a>
      </li>
      <li>
        <a href="" routerLink="message">留言</a>
      </li>
    </ul>
  </div>
</nav>

