<nav>
  <div class="nav-wrapper">
    <label class="brand-logo">Mr.luo</label>
    <a href="#" data-activates="mobile-nav" class="button-collapse" #buttonCollapse><i class="material-icons">menu</i></a>
    <!--<ul class="right hide-on-small-and-down">-->
      <!--<li>-->
        <!--<a href="" routerLink="resume">resume</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="" routerLink="production">production</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="" routerLink="contact">contact</a>-->
      <!--</li>-->
    <!--</ul>-->
    <ul class="side-nav" id="mobile-nav">
      <li>
        <a href="" routerLink="resume">resume</a>
      </li>
      <li>
        <a href="" routerLink="production">production</a>
      </li>
      <li>
        <a href="" routerLink="contact">contact</a>
      </li>
    </ul>
  </div>
</nav>

